$cm-red:#d44439;
$head-color:#e4e4e4;
$font-introduce:#cbcbcb;
$font-main:#3f3f41;
$font-title:#161618;
$font-alpha-white:rgba($color: #ffffff, $alpha: .8);
$font-alpha-grey:rgba($color: #d3d3d3, $alpha: .8);
a{
    display: block;
}
@mixin iconBg{
    background: linear-gradient(to right, #fe5244,#fe2116);
}
@mixin flex-around{
    display: flex;
    justify-content: space-around;
}
@mixin flex-between{
    display: flex;
    justify-content: space-between;
}
@mixin title{
    p{
        margin-bottom:.05rem;
        font-size: .12rem;
        color: $font-introduce;
    }
    div.title{
        @include flex-between;
        align-items: center;
        h3{
            font-size: .18rem;
            color: $font-main;
            font-weight: bold;
        }
        a{
          display: inline;
          padding:.05rem .08rem;
          font-size: .12rem;
          color: $font-main;
          border: .01rem solid $font-introduce;
          border-radius: .15rem;
        }
    }
}